<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>one-todo 首页</title>
  <!-- import Vue.js -->
  <script src="//vuejs.org/js/vue.min.js"></script>
  <!-- import stylesheet -->
  <link rel="stylesheet" href="//unpkg.com/view-design/dist/styles/iview.css">
  <!-- import iView -->
  <script src="//unpkg.com/view-design/dist/iview.min.js"></script>
</head>
<body>
  <div id="app">
    <h1>欢迎回来</h1>
  </div>
</body>
</html>